body {
	background-color: #FFFFC8;
}

h1 {
	text-align: center;
	font-size: 30pt;
	font-weight: bolder;
	color: green;
	font-family: "Century Gothic", "Futura", "Verdana", sans-serif;
}

h2 {
	color: red;
	font-weight: bold;
	font-size:25pt;
}

ol {
	list-style-type: upper-roman;
}

li,dd {
	color:orange;
	font-size:20pt;
	font-family: "Georgia","Garamond", serif;
}

p {
	margin: 0;padding: 0;
	color: blue;
	border:solid red 2pt;
}

a:hover {
	color: #FF00FF;
}

dt {
	color: green;
	font-weight: bold;
	font-size:25pt;
	text-decoration: underline overline;
	font-style: italic;
}

.special {
	background-color: yellow;
	font-weight: bold;
	font-size: 30pt;
}
